@{
    ViewData["Title"] = "AddOutlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MarketMap.Models

<h2 class="clearfix">
    <span class="pull-left">
        Add Outlet&nbsp;
        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="To find specific place, start entering the address"></i>
    </span>
    <button id="delete-shape" class="btn btn-primary pull-right hidden">Delete Selected Shape</button>
</h2>
<div id="google-map" style="width:100%;height:60vh;margin-bottom:20px;"></div>
<form method="post" asp-controller="api" asp-action="addoutlet">
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name" autocomplete="off" />
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <input class="form-control" type="text" name="address" autocomplete="off" spellcheck="false" />
    </div>
    <div class="form-group">
        <label for="">Working hours:</label>
        <input class="form-control" type="text" name="hours" autocomplete="off" />
    </div>
    <label for="categories">Select category:</label>
    <select name="categories" class="form-control" multiple>
        @foreach (var item in (ViewData["categories"] as List<Category>))
        {
            <option value="@item.Name"> @item.Name </option> 
        }
    </select>
    <input type="hidden" id="vertices" name="vertices"/>
    <input type="submit" class="btn btn-success" style="margin-top:15px;" />
</form>

@section Scripts {
    <script src="@Url.Content("~/js/add-outlet.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR1JeF9C-70o3QXmqG1HRLgbjZdjb6NPs&language=en&libraries=drawing,places&callback=initMap"></script>
}