@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>

<br>

<p class="text">
        Today more and more outlets, commercial networks, new markets are being built. The rapid development of
        their infrastructure entails an overabundance of information associated with a separate outlet, it is
        increasingly difficult to quickly find the desired product and remember where it was purchased.
        This matter of fact is precisely a main reason for creating the application not only to help everyday
        market visitors in search of specific stores and goods, but also to identify the outlets that made
        the best impression on them.
</p>

<p class="text">
    "MarketMap" helps people who want to facilitate their local shopping trips
    and for tourists who do not know the city at all by providing store navigation, detailed information
    about products, opportunity to read reviews of other buyers and share opinions about a particular shop.
    "MarketMap" provides the exact geographical display of all retail outlets separately with indicating
    the names of stores, categories of goods that are sold there and quick response to changing state of
    shops (for example, if the store is closed or has been demolished).
</p>
