@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    14 Nauky Avenue<br />
    Kharkiv, 61166<br />
    Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +38(057) 702-10-13, 702-13-97, 702-17-20, 702-18-07
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yurii.liubchenko@nure.ua">yurii.liubchenko@nure.ua</a><br />
    <strong>Marketing:</strong> <a href="mailto:mariia.peretiatko@nure.ua">mariia.peretiatko@nure.ua</a>
</address>
